{% extends 'base.html' %}

{% block title %}主页{% endblock %}

{% block home %}
active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-md-10">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">文章列表</h3>
                  </div>
                  <div class="panel-body">
                  {% include 'message.html' %}
                    {% for article in articles %}
                        <h3><a href="/article/article_detail/{{ article.id }}">{{ article.title }}</a></h3>
                        <span class="glyphicon glyphicon-user" aria-hedden="true">{{ article.user.username }}</span>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true">{{ article.create_time.strftime("%Y-%m-%d") }}</span>
                        <!-- <p>{{ article.user.username }}
                            <span class="label label-{{ article.group.color }}">{{ article.group.name }}</span>
                            {{ article.create_time.strftime("%Y-%m-%d") }}
                        </p> -->
                        <hr>
                    {% endfor %}


                      <!--分页控件-->
                      <nav aria-label="Page navigation">
                          <ul class="pagination">
                          {% if paginate.has_prev %}
                              <li>
                              <a href="/index?page={{ paginate.prev_num }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                          {% endif %}
                             {% for page in paginate.iter_pages() %}
                                {% if page == paginate.page %}
                                    <li class=active><a href="/index?page={{ page }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="/index?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                             {% endfor %}
                          {% if paginate.has_next %}
                              <li>
                              <a href="/index?page={{ paginate.next_num }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          {% endif %}
                          </ul>
                        </nav>
                  </div>
                </div>
          </div>
          <div class="col-md-2">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">文章分类</h3>
                  </div>
                  <div class="panel-body">
                    {% include 'group_list.html' %}
                  </div>
                </div>
          </div>
        </div>
    </div>
{% endblock %}