{% extends 'base.html' %}

{% block title %}修改密码{% endblock %}

{% block home %}
active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-md-10">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">修改密码</h3>
                  </div>
                  <div class="panel-body">
                  {% include 'message.html' %}
                      <form action="" method="post">
                          <div class="form-group">
                              <label for="">原密码：</label>
                              <input type="text" name="before_password" placeholder="请输入原密码" class="form-control">
                          </div>
                          <div class="form-group">
                              <label for="">新密码：</label>
                              <input type="password" name="password" placeholder="请输入新密码" class="form-control">
                          </div>
                          <div class="form-group">
                              <label for="">验证密码：</label>
                              <input type="password" name="check_password" placeholder="请再次输入新密码" class="form-control">
                          </div>
                          <div class="form-group">
                              <input type="submit" class="btn btn-primary">
                          </div>
                      </form>
                  </div>
                </div>
          </div>
          <div class="col-md-2">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">文章分类</h3>
                  </div>
                  <div class="panel-body">
                    {% include 'group_list.html' %}
                  </div>
                </div>
          </div>
        </div>
    </div>
{% endblock %}