{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">用户管理</h3>
            </div>
            <div class="panel-body">
                {% include 'message.html' %}
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>用户名</th>
                        <th>别名</th>
                        <th>头像地址</th>
                        <th>操作</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.nickname }}</td>
                            <td>{{ user.head_url }}</td>
                            <td>
                                <a href="/admin/userinfo/{{ user.id }}"><span class="label label-primary">修改</span></a>
                                <a href="/admin/user/delete/{{ user.id }}"><span class="label label-danger">删除</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}